html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*styling goes here*/
*{
    position: relative;
    box-sizing: border-box;
     font-family: 'Roboto', sans-serif;
    
}
.wrapper{
    position: absolute;
    width: 100%;
    height: 1800px;
    background-color: darkgreen;
    background-image: url(carolina-assignment/background.png);
    background-repeat:repeat;
}
.inner_content{
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 80%;
    height: 1600px;
    background-color: white;
}
.header{
    
    position: relative;
    width: 100%;
    height: auto;
    background-color: white;
}
.header_one{
    position: relative;
    width:inherit;
    height: 90px;
    background-color:white;
}
.btn{
    border-radius: 5px;
    margin-top:30px;
    color: white;
    width: 7%;
    height: 30px;
    float: right;
    margin-right: 10px;
    border: 1px solid rgb(164,190,55);}
.btn_two{
    background-color: rgb(164,190,55);
    border-color: rgb(164,190,55);
   }
.btn_one{
    border: 1px solid rgb(232,87,45);  
    background-color: rgb(232,87,45);
    }.header_two{
    margin-left: 2%;
    height: 230px;
    width: 96%;
    background-color: white;
}
.image_one{
    
    float: left;
    width: 42%;
    
}
.image_one img{
    width: 88%;
    height: 95%;
}
.image_text{
    position: relative;
    margin-left: -3%;
    float: left;
    width: 35%;
    background-color: white;
}
.text_1{
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 20px;
    padding: 5px;
    width: 100%;
    background-color:rgb(164,190,55);
    color:white;
}
.text_2 {
    width: 100%;
    float: left;
    margin-top: 15px;
}
.text_3{
    width: 100%;
    float: left;
    margin-top: 15px;
}
.text_4{
    width: 100%;
    float: left;
    margin-top: 15px;
}
.text_2 img{
    
    float: left;
    height: 50px;
    width: 15%;
}
.col_1{
    color:rgb(240,127,82);
    font-weight: bolder;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}
.text_3 img{
    float: left;
    height: 50px;
    width: 15%;
}
.col_2{
    color:rgb(214,164,69);
    font-weight: bolder;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}

.text_4 img{
    float: left;
    height: 50px;
    width: 15%;
}
.col_3{
    color:rgb(105,45,46);
    font-weight: bolder;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}

.image_two{
    position: relative;
    float: left;
    width: 18%;
    
}
.image_two img{
    margin-left: 20px;
    width: 120%;
    height: 86%;    
}
.txt{
    font-family: 'Roboto', sans-serif;
    margin-top: 10px;
    margin-left: 10px;
    float: left;
}
.nav{
    padding: 5px;
    margin-left: 2%;
    border-top: 1px solid rgb(208,201,196);
    border-bottom:1px solid rgb(208,201,196);
    height: auto;
    color: rgb(208,201,196);
    width: 96%;
    font-family: 'Roboto', sans-serif;
}
.nav span{
   font-weight: bold; 
}
.nav a{
    padding: 10px;
    margin-left: 10px;  
    text-decoration: none;
    color: rgb(208,201,196);
    font-size: 18px;
}
.section{
    position: relative;
    background-color: white;
    width: 100%;
    position: relative;
    height: 800px;
}
.max_side{
    float: left;
    margin-left: 2%;
    position: relative;
    width: 75%;
    height: 600px;
    background-color: white;
}
.imageee{
    width: 100%;
    height: 300px;
}
.imageee img
{
    position: relative;
    width: 100%;
    height: inherit;
}

.max_side p{
    color:rgb(233,97,52);
    padding: 20px 0px 10px 0px;
    font-weight: bolder;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    
}
.panel{
    background-color: white;
    height: 40px;
    width: 99%;
}
.panel img{
    float: left;
    margin-top: 10px;
    margin-left: 0px;
    margin-right: 5px;
}
.panel span{
    display: inline;
    margin-top: 15px;
    float: left;
    margin-left: 10px;
    font-family: 'Roboto', sans-serif;
    color: rgb(179,167,162);
    font-size: 12px;
    
}
.panel button:hover{
    background-color:rgb(233,97,52);
}
.panel1{
    background-color: white;
    height: 40px;
    width: 99%;
}
.panel1 img{
    float: left;
    margin-top: 10px;
    margin-left: 0px;
    margin-right: 5px;
}
.panel1 span{
    display: inline;
    margin-top: 15px;
    float: left;
    margin-left: 10px;
    font-family: 'Roboto', sans-serif;
    color: rgb(179,167,162);
    font-size: 12px;
    
}
.panel1 button:hover{
    background-color:rgb(233,97,52);
}

.right{
    width: auto;
    height: inherit;
    float: right;
    
}
.right select{
    float: left;
    padding: 2px 5px 2px 5px;
    margin-top: 8px;
    margin-left: 3px;
    color: rgb(179,167,162);
    position: relative;
    
}
.right button
{
    background-color: rgb(208,201,196);
    border-radius: 0;
    box-shadow: 0px;
    margin-top: 8px;
    margin-left: 3px;
    border: navajowhite;
    height: 22;
}
.items{
    background-color: white;
    height: 370px;
    width: 99%;
}
.item{
    float: left;
    background-color: white;
    height: 350px;
    width: 30%;
    margin-top: 10px;
    margin-left: 2%;
    margin-right: 1%;
}
.item_img{
    height: 75%;
    width: 100%;
    
      border: 1px solid rgb(208,201,196);

    
}
.hov{
    display:block;
    float: left;
    width: 100%;
    height: 10%;
    
}
.hov_1, .hov_2 , .hov_3{
    display: none;
}
.hov:hover + .hov_3{display: block;}
.hov_1{
    float: left;
    width:20%;
    height: 100%;
}
.hov_2{
    float: left;
    width:20%;
    height: 100%;
}
.hov_3{
    float: left;
    width: 60%;
    height: 100%;
}
#ppp{
    font-weight: 100;
    margin-top: -13px;
    margin-left: 15px;
    
}
#hov_img{
    float: left;
     width: 20%;
    height: 25px;
    margin-top:0px;
    margin-left: 5px;
}
#hov_img_1{
    margin-left: 6px;
    margin-top: 5px;
     width: 72%;
    height: 24px;
    margin-top:0px;
}


.item_1 img {
   
    align-content: center;
    width: 100%;
    height: 90%;
}
.item_2 img {
   
    align-content: center;
    width: 100%;
    height: 90%;
}
.item_3 img {
   
    align-content: center;
    width: 100%;
    height: 90%;
}
.item_4 img {
   
    align-content: center;
    width: 100%;
    height: 90%;
}
.item_5 img {
   
    align-content: center;
    width: 100%;
    height: 90%;
}
.item_6 img {
   
    align-content: center;
    width: 100%;
    height: 90%;
}
.item p{
    font-weight: bold;
    font-size: 15px;
    color: black;
    margin-top: -5px;
    margin-left: 30px;
}

.item span{
    color:rgb(233,97,52);
}
#pp{
    color:rgb(208,201,196);
    margin-top: -25px;
    font-weight: 100;
    text-align: center;
    margin-left: -10px;
    font-size: 12px;
}
.hr{
    border-top: 1px solid rgb(208,201,196);
}
.aside{
    float: left;
    position: relative;
    height: 1150px;
    width: 21%;
    background-color: white;
}
.first_aside{
    margin: auto;
    position: relative;
    background-color:white;
    width:96%;
    height:300px;
    border: 1px solid rgb(208,201,196); 
    margin-top: 10px;
    
}
.first_aside p{
    position: relative;
    margin-top: 10px;
    margin-left: 12px;
    font-size: 25px;
    color:rgb(81,103,49);
    font-weight: bolder;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 15px;
}
.first_aside li{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    position: relative;
    margin-top: 10px;    
    color:darkgray;
    margin-left: 50px;
    list-style-image: url(carolina-assignment/5.png);
    list-style-position:outside;
}
.second_aside{
    margin: auto;
    position: relative;
    background-color:white;
    width:96%;
    height:150px;
    border: 1px solid rgb(208,201,196); 
    margin-top: 10px;
}
.second_aside p{
    position: relative;
    margin-top: 10px;
    margin-left: 12px;
    font-size: 25px;
    color:rgb(81,103,49);
    font-weight: bolder;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 15px;
}
.upper{
    width: 100%;
    height: 20%;
    border-bottom: 1px solid rgb(208,201,196);
}
.upper p{
    font-family: 'Roboto', sans-serif;
    color:rgb(208,201,196);
    font-size: 12px;
}
.lower{
    width: 100%;
    height: 20%;
    
}
.lower p{
    font-family: 'Roboto', sans-serif;
     color:rgb(208,201,196);
    font-size: 12px;
}
.lower button{
    background-color: rgb(164,190,55);
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    border-color: rgb(164,190,55);
    border-radius: 3px;
    box-shadow: none;
    float: right;
    margin-right:10px;
    font-weight: 10;
    border: 2px solid rgb(164,190,55);
}
.third_aside{
    margin: auto;
    position: relative;
    background-color:white;
    width:96%;
    height:300px;
    border-top:2px solid rgb(208,201,196); 
    border: 1px solid rgb(208,201,196); 
    margin-top: 10px;
}
.third_aside p{
    position: relative;
    margin-top: 10px;
    margin-left: 12px;
    font-size: 25px;
    color:rgb(81,103,49);
    font-weight: bolder;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 15px;
    
}
.third_aside_1{
color:rgb(208,201,196);
    width: inherit;
    height: 10%;
    margin-bottom: 10px;
}
.third_aside_1 p{
    font-size: 25px;
    color:rgb(81,103,49);
    font-weight: bolder;
    font-family: 'Roboto', sans-serif;
}
.third_aside_2{
        width: inherit;
        height: 25%;
        
}
.third_aside_2 p{
    color:black;
    font-size: 12px;
    margin-left: 65px;
    overflow: hidden;
    
}
.third_aside_2 span{
     float: left;
    margin-top: -13px;
    font-size: 13px;
    margin-left: 5px;
    color: rgb(208,201,196);
}
.img1{
        float: left;
        width: 25%;
        border: 1px solid rgb(208,201,196);
        margin-left: 10px;
        height: 70%;
}
.small_image{
    width: auto;
    height: auto;
    float: right;
    margin-bottom: 10px;
}
.small_image img{
   
    width: 25%;
    height: 10px;
    margin-right: 10px;
}

.third_aside_3{
        
        width: inherit;
        height: 30%;
        padding-top: 10px;
        border-top: 1px solid rgb(208,201,196);
}
.third_aside_4{
    padding-top: 10px;
        width: inherit;
        height: 30%;
    border-top: 1px solid rgb(208,201,196);
}

.third_aside_3 p{
    color:black;
    font-size: 12px;
    margin-left: 65px;
    overflow: hidden;
    
}
.third_aside_3 span{
     float: left;
    margin-top: -13px;
    font-size: 13px;
    margin-left: 5px;
    color: rgb(208,201,196);
}

.third_aside_4 p{
    color:black;
    font-size: 12px;
    margin-left: 65px;
    overflow: hidden;
    
}
.third_aside_4 span{
     float: left;
    margin-top: -13px;
    font-size: 13px;
    margin-left: 5px;
    color: rgb(208,201,196);
}
.fourth_aside{
    margin: auto;
    position: relative;
    background-color:white;
    width:96%;
    height:125px;
    border: 1px solid rgb(208,201,196); 
    margin-top: 10px;
}
.fourth_aside p{
    position: relative;
    margin-top: 10px;
    margin-left: 12px;
    font-size: 25px;
    color:rgb(81,103,49);
    font-weight: bolder;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 15px;
}
.boxx{
    width: 80%;
    height: 50%;
    
    margin-top: 25px;
}
.boxx p{
    font-size: 13px;
    margin-left: 12px;
    color: rgb(208,201,196);
    margin-bottom: 5px;}
.ip1{
    float: left;
    margin-left: 12px;
    width: 70%; 
}
.boxx button{
    float: left;
    color:white;
    width: auto;
    background-color:  rgb(164,190,55);
    border: 1px solid  rgb(164,190,55);
    height: 22px;
}
.fifth_aside{
    margin-top: 10px;
    width: auto;
    height: 200px;
}
.img_one{
    float: left;
    width: 50%;
    height: 50%;
}
.img_one img{
    
        width: 100%;
    height: 100%;
}
.left_side{
    width: 50%;
    height: 50%;
    float: right;
}
.left_side_1{
    float: right;
    width: 80%;
    border-bottom: 1px solid rgb(208,201,196);
}
.left_side_3{
    float: right;
    width: 80%;

}
.left_side p{
    margin-top: 5px;
    margin-bottom: 5px;
    float: right;
    font-family: 'Roboto', sans-serif;
    color:rgb(109, 112, 106);
    font-size: 12px;
}
.img_twoo{
    float: left;
    width: 100%;
    height: 50%;
    margin-top: 4%;
}
.img_twoo_1{
    margin-left: 3%;
    float: left;
    width: 22%;
}
.img_twoo_2{
    margin-left: 3%;
    float: left;
    width: 22%;
}
.img_twoo_3{
    margin-left: 3%;
    float: left;
    width: 22%;
}
.img_twoo_4{
    margin-left: 3%;
    float: left;
    width: 22%;
}
.responsive_footer{
    display: none;
    position: relative;
    width: 100%;
    height: auto;
}

@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) { 
   
    *{overflow: scroll;}
    .wrapper{
        height: auto;
    }
.inner_content{
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 100%;
    height:auto;
    background-color: white;

    }
    .header{
    
  
    width: 100%;
    height: auto;
    background-color: white;
}

    .btn{
    border-radius: 5px;
    margin-top:10px;
    color: white;
    width:100%;
    height: 30px;
    }
.btn_two{
    background-color: rgb(164,190,55);
    border-color: rgb(164,190,55);
   }
.btn_one{
    border: 1px solid rgb(232,87,45);  
    background-color: rgb(232,87,45);
    }
.header_two{display: none;
}

    .aside{
        display: none;
    }

    .section{
    background-color: white;
    width: 100%;
    position: relative;
    height: 800px;
}
.max_side{
    align-content: center;
    float: left;
    position: relative;
    width: 100%;
    margin-left: 0px;
    height: auto;
    background-color: white;
}
.imageee{
    display:none;
}
    .section{
        height: auto;
    }
    .item_4 ,.item_5,.item_6{display: none;}
    .item{
        margin-left: 60px;
        width: 80%;
        height: 450px;
        text-align: center;
    }
    .items{
        height: auto;
    }
    .two{display: none;}
    .panel1{display: none;}
}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)  {
    .wrapper{
        height: auto;
    }
    .inner_content{
    margin-top: 0px;
        width: 100%;
    height:auto;
    }
    .header{
    width: 100%;
    height: auto;
    background-color: white;
}
    .item_4,.item_6,.item_5{}
.btn{
    border-radius: 5px;
    margin-top:10px;
    color: white;
    width:98%;
    height: 30px;
    }
.btn_two{
    background-color: rgb(164,190,55);
    border-color: rgb(164,190,55);
   }
.btn_one{
    border: 1px solid rgb(232,87,45);  
    background-color: rgb(232,87,45);
    }
.header_two{display: none;
}

    .aside{
        display: none;
    }

    section{
    position: relative;
    background-color: white;
    width: 100%;
    position: relative;
    height: auto;
}
    .panel1{
        display:none;
    }
.max_side{
    float: left;
    
    position: relative;
    width:100%;
    height: 600px;
    background-color: white;
}
.imageee{
    display:none;
}
    

}
